[Desktop Entry]
Name=Sway (hybrid graphics)
Comment=An i3-compatible Wayland compositor; Renders on the discrete (NVIDIA) GPU and outputs through the integrated GPU)
Exec=env WLR_DRM_DEVICES=/dev/dri/card1:/dev/dri/card0 sway
Type=Application
